#about {
    display: flex;
    position: relative;
    width: 90%;
    height: 400px;
    margin: 0 auto;
    margin-top: 80px;
    gap: 30px;
    max-width: 1920px;
    // overflow: hidden;

    @media screen and (max-width: 768px) {
        height: 600px;
    }
    // TODO: To talk about information in boxes with Milen!
    // @media screen and (max-width: 480px) {
    //     height: 600px;
    // }

    .prev-btn,
    .next-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding: 10px 20px;
        border: none;
        border-radius: 50px;
        background-color: #333;
        opacity: 0.5;
        color: #fff;
        cursor: pointer;
        
        transition: all 0.3s ease;
        @media screen and (min-width: 768px) {
            &:hover {
                padding: 20px;
            }
        }
        
        @media screen and (max-width: 768px) {
            top: 54%;
        }
    }
    .prev-btn {
        left: 10px;
    }
    .next-btn {
        right: 10px;
    }

    .slider-container {
        display: flex;
        gap: 30px;
        
        @media screen and (max-width: 768px) {
            flex-direction: column;
            align-items: center;
        }
    }
    .slider-container.slideRight.animate {
        animation: slideRight 0.5s ease-in-out;
    }
    .slider-container.slideLeft.animate {
        animation: slideLeft 0.5s ease-in-out;
    }

    .img-container-about {
        width: 50%;
        display: flex;
        justify-content: center;
        
        img {
            object-fit: cover;
            max-width: 100%;
            display: block;
            border-radius: 12px;
            box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
        }

        @media screen and (max-width: 768px) {
            height: 50%;
            width: auto;
        }
    }

    .article-container-about {
        width: 50%;

        @media screen and (max-width: 768px) {
            width: auto;
        }

        p {
            margin-bottom: 10px;
        }
    }
}

@keyframes slideRight {
    0% { transform: translateX(90%); opacity: 0.3; }
    100% { transform: translateX(0); opacity: 1; }
}
@keyframes slideLeft {
    0% { transform: translateX(-90%); opacity: 0.3; }
    100% { transform: translateX(0); opacity: 1; }
}