.toaster-nav {
  background-color: #f0f0f0;
  padding: 10px;
}

.toaster-toggle-label {
  display: block;
  cursor: pointer;
  position: relative;
  padding: 10px;
}

.toaster-toggle-label span {
  display: block;
  width: 30px;
  height: 4px;
  background-color: #000;
  margin-bottom: 5px;
}

.toaster-nav-links {
  display: none;
}

.toaster-nav-links a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #000;
  border-bottom: 1px solid #ccc;
}

@media screen and (min-width: 768px) {
  .toaster-nav {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  #toaster-toggle {
    display: none;
  }

  .toaster-toggle-label span {
    transition: transform 0.3s ease-in-out;
  }

  #toaster-toggle:checked~.toaster-nav-links {
    display: block;
  }

  #toaster-toggle:checked+.toaster-toggle-label span:nth-of-type(1) {
    transform: translateY(5px) rotate(45deg);
  }

  #toaster-toggle:checked+.toaster-toggle-label span:nth-of-type(2) {
    transform: translateY(-4.5px) rotate(-45deg);
  }
}