header {
    background: #f4f4f4;
    padding: 30px 0;
    margin-bottom: 70px;

    .container {

        .logo {
            float: left;
            position: absolute;

            img {
                border-radius: 10px;
                width: 80%;
                height: auto;
                display: block;
                /* Ensure the logo is displayed as a block element */
            }
        }

        .nav {
            float: right;

            ul {
                list-style: none;

                li {
                    display: inline;
                    margin-right: 20px;

                    a {
                        text-decoration: none;
                        color: #333;
                        font-weight: bold;
                        text-transform: uppercase;
                        transition: color 0.3s ease;
                    }

                    a:hover {
                        color: #FF5733;
                    }

                }
                li:nth-child(4) {
                    text-decoration: line-through;
                }
            }

            @media screen and (max-width: 768px) {
                display: none;
            }
        }

        // Mobile navigation
        .toaster-nav {
            float: right;
            position: relative;
            z-index: 9999;

            #toaster-toggle {
                display: none;
            }

            .toaster-toggle-label {
                display: block;
                cursor: pointer;
                position: relative;

                span {
                    display: block;
                    width: 30px;
                    height: 4px;
                    background-color: #000;
                    margin-bottom: 5px;
                    transition: transform 0.3s ease-in-out;
                }
            }

            #toaster-toggle:checked+.toaster-toggle-label span:nth-of-type(1) {
                transform: translateY(5px) rotate(45deg);
            }

            #toaster-toggle:checked+.toaster-toggle-label span:nth-of-type(2) {
                transform: translateY(-4.5px) rotate(-45deg);
            }
            #toaster-toggle:checked+.toaster-toggle-label span:nth-of-type(3) {
                display: none;
            }

            .toaster-nav-links {
                display: none;
                position: absolute;
                text-align: center;
                top: 27px;
                right: 10px;
                width: 200px;
                background: #f4f4f4;
                border-radius: 5px;
                overflow: hidden;


                ul {
                    list-style: none;
                    
                    li {
                        animation: slideIn 0.3s ease forwards;
                    }
                    li:last-child a {
                        border-bottom: none;
                        text-decoration: line-through;
                        
                    }
                }

                a {
                    display: block;
                    padding: 10px;
                    text-decoration: none;
                    color: #000;
                    text-transform: uppercase;
                    border-bottom: 1px solid #ccc;
                }
            }

            #toaster-toggle:checked~.toaster-nav-links {
                animation: slideIn 0.5s ease forwards;
                display: block;
            }
            #toaster-toggle:not(:checked)~.toaster-nav-links {
                animation: slideOut 0.5s ease forwards;
                display: block;
                pointer-events: none;
            }

            @media screen and (min-width: 769px) {
                display: none;
            }
        }
    }
}

@keyframes slideIn {
    0% { transform: translateY(-50px); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
}

@keyframes slideOut {
    0% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(-50px); opacity: 0; }
}